.member-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/gymbackground.jpg');
    background-size: cover; /* Omogućava da slika pokriva celu površinu */
    background-position: center; /* Centrira sliku */
    position: relative;
    text-align: center;
    z-index: 1;
  }

 

  .member-content-container {
    width: 45%;
    max-height: 90%;
    /* overflow: scroll; */
    border: 4px solid #656464; /* Dodaje tanku ivicu */
    border-radius: 8px; /* Zaobljava rubove */
    padding: 16px; 
    margin-top: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodaje sjenu */
    background-color: white;
    
}

.member-payment-content-container {
  /* width: 800px; */
  /* border: 4px solid #656464; Dodaje tanku ivicu */
  /* border-radius: 8px; Zaobljava rubove */
  /* padding: 16px;  */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); Dodaje sjenu */
  background-color: white;
  
}

.members-content-container {
  width: 1300px;
  border: 4px solid #656464; /* Dodaje tanku ivicu */
  border-radius: 8px; /* Zaobljava rubove */
  padding: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodaje sjenu */
  background-color: white;
  max-height: 600px; /* Postavite maksimalnu visinu tablice prema vašim potrebama */
  overflow-y: auto; /* Omogućava vertikalni skrol ako sadržaj tablice prelazi maksimalnu visinu */
  
}